@import "@design-system";

.PersonalInformation {
  display: flex;
  flex-direction: column;
  gap: spacing(3);
  padding-left: 0;

  &_title {
    margin-bottom: spacing(5);
  }

  &_firstLastNames {
    display: flex;
    gap: spacing(7);

    &__firstName {
      width: clamp(280px, 30vw, 500px);
    }

    &__lastName {
      width: clamp(280px, 30vw, 500px);
    }
  }

  &_phone {
    margin-top: spacing(5);

    &__field {
      width: clamp(280px, 30vw, 500px);
    }
  }

  &_changeButton {
    margin-top: spacing(5);
    width: clamp(180px, 15vw, 300px);
  }
}
