@import "@design-system";

.spa-order-table {
  box-shadow: var(--shadow);

  &__fallback {
    background-color: var(--color-surface);
    color: var(--color-text);
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
