# API base path for backend requests
API_BASE_PATH=http://localhost:5000/api

# URL of the frontend client
CLIENT_URL=http://localhost:3000

# Default admin credentials
ROLE_ADMIN_EMAIL=admin1@example.com
ROLE_ADMIN_PASSWORD=your_admin_password

# Default manager credentials
ROLE_MANAGER_EMAIL=manager2@example.com
ROLE_MANAGER_PASSWORD=your_manager_password

# Default user credentials
ROLE_USER_EMAIL=john.doe@example.com
ROLE_USER_PASSWORD=your_user_password
