@import "@design-system";

.MyAddresses {
    display: flex;
    flex-direction: column;
    gap: spacing(10);
    background-color: var(--color-surface);
    color: var(--color-text);
    padding: spacing(10);
    max-width: 100%;
    box-sizing: border-box;

    &_header {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
    justify-items: center;

        @include breakpoint("sm") {
        grid-template-columns: 1fr 1fr;
        justify-items: stretch;
        align-items: center;
        }
    }
}
