@import "@design-system";

.spa-my-wishlist {
  padding: 20px;

  &__title {
    margin: 24px 0;
  }

  &__grid {
    margin-top: 16px;
  }

  &__empty-message {
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 210px 0;
  }
}
