@import "@design-system";

.confirmModal {
  width: 30vw;
  max-width: 90vw;
  height: auto;
  max-height: 90vh;
  padding: spacing(7);
  display: flex;
  flex-direction: column;
  gap: spacing(3);
  position: relative;

  &_closeIcon {
    position: absolute;
    top: spacing(2);
    right: spacing(2);
    cursor: pointer;
  }
}
