@import "@design-system";

.viewHistory {
  padding: spacing(10);
  background-color: var(--color-surface);
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  gap: spacing(10);

  &_products_container {
    max-width: 1000px;
    margin: 0 auto;
  }

  &_products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: spacing(16);
  }

  &_header {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
    justify-items: center;

    @include breakpoint("sm") {
      grid-template-columns: 1fr 1fr;
      justify-items: stretch;
      align-items: center;
    }

    &__btn {
      justify-self: center;

      @include breakpoint("sm") {
        justify-self: end;
      }
    }

    &__sort {
      color: var(--color-text);

      div {
        color: inherit;
        background-color: inherit;
      }

      @include breakpoint("sm") {
        justify-self: end;
      }
    }
  }

  &_fallback {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: spacing(30) 0;
    gap: spacing(5);
  }

  &_loading {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 1rem;
  }
}
