@import "@design-system";

.users-table__body {
  @include transition((background-color));
  background-color: var(--color-surface);
  color: var(--color-text);

  td {
    color: inherit;
  }
  &:hover {
    background-color: var(--color-muted);
  }
}
