@import "@design-system";

.spa-product-card {
  padding: spacing(2);
  display: flex;
  flex-direction: column;
  gap: spacing(2);
  border: 2px solid var(--spa-products-container-border-color, $light);
  position: relative;
  overflow: hidden;

  &__labels-timer {
    position: absolute;
    top: spacing(2);
    left: spacing(2);
    right: spacing(2);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 2;
  }

  &__labels {
    display: flex;
    align-items: flex-start;
    gap: spacing(1);
    z-index: 1;
  }

  &__best-sellers {
    padding: spacing(1);
    border: 3px solid var(--color-primary);
    border-radius: spacing(5);
    color: var(--color-primary);
  }

  &__link-wrapper {
    display: flex;
    flex-direction: column;
    gap: spacing(3);
    flex-grow: 1;
  }

  &__img {
    position: relative;
    overflow: hidden;
    aspect-ratio: 1 / 1;

    &:hover .spa-product-card__description {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }

    &-grayscale {
      filter: grayscale(100%);
      opacity: 0.6;
      transition: filter 0.2s ease, opacity 0.2s ease;
    }
  }

  &__img-name {
    @include box(100%);
    object-fit: cover;
  }

  &__product-name {
    @include text-truncate(2);
    width: 100%;
    overflow: hidden;
    color: var(--color-text);

    &-disabled {
      color: var(--color-disabled);
    }
  }

  &__footer-price {
    color: var(--color-secondary);

    &-disabled {
      color: var(--color-disabled);
    }
  }

  &__description {
    @include transition((all, "medium"));

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    inset: 0;
    background: var(--color-bg);
    color: var(--color-muted);
    padding: spacing(4) spacing(3);
    opacity: 0;
    visibility: hidden;
    transform: translateY(100%);
    backdrop-filter: blur(spacing(2));

    &-text {
      @include line-clamp(10);
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    padding-top: spacing(3);
    border-top: 1px solid var(--spa-products-container-border-color, $light);
  }

  &__footer-buttons {
    display: flex;
    gap: spacing(1);
    margin-left: auto;
  }

  &__favorite-button {
    color: $gray;
    display: flex;
    align-self: center;

    &--active {
      color: $purple;
    }
  }

  &__cart-button {
    @include box(40px, 40px);

    color: var(--color-muted);
  }

  &__cart-button--active {
    color: var(--color-secondary);
  }
}