@import "@design-system";

.Profile {
    display: flex;
    flex-direction: column;
    gap: spacing(10);
    background-color: var(--color-surface);
    color: var(--color-text);
    padding: spacing(10);
}
