@import "@design-system";

.cardWithDelete {
  position: relative;

  &__deleteButton {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 2;
    background-color: white;
    border-radius: 50%;

    &:hover {
      background-color: var(--color-bg);
      color: var(--color-text);
      transition:
        background-color 150ms ease,
        color 150ms ease,
        outline-color 150ms ease;
    }
  }
}
