@import "@design-system";

.menuList {
  padding: 0;
  margin: 0;
}

.menuItem {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid var(--color-muted);

  &:last-child {
    border-bottom: none;
  }
}

.menuButton {
  padding: spacing(4) spacing(6);
  transition: all map-get($duration, fast) ease;
  border-radius: 0;

  &:hover {
    background-color: var(--color-hover-active);

    .menuText {
      color: $purple;
    }
  }

  &.active {
    background-color: var(--color-hover);
    border-right: 3px solid $purple;

    .menuText {
      color: $purple;
      font-weight: map-get($fw, extra-bold);
    }
  }
}

.menuText {
  font-family: $inter;
  font-size: map-get($fs, sm);
  font-weight: map-get($fw, regular);
  color: var(--color-text);
  text-transform: map-get($tt, none);
  transition: all map-get($duration, fast) ease;

  &:hover {
    color: $purple;
  }
}
