@import "@design-system";

.products-table {
  &__discounted-price {
    color: red;
    font-weight: bold;
  }

  &__body {
    @include transition((background-color));

    background-color: var(--products-table-body-bg-color, $white);

    &:hover {
      background-color: var(--color-muted);
    }

    &-name {
      @include text-truncate($line-clamp: 2);

      overflow: hidden;
    }

    &-image {
      @include box(80px);

      object-fit: cover;
    }

    &-reserved-button {
      border-color: var(--color-text);
      color: var(--color-text);
    }
  }
}
