@import "@design-system";

.products-table {
  &__discounted-price {
    color: red;
    font-weight: bold;
  }

  &__body {
    @include transition((background-color));

    background-color: var(--products-table-body-bg-color, $white);

    &-name {
      @include text-truncate($line-clamp: 2);

      overflow: hidden;

      &-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: spacing(2);
      }
    }

    &-image {
      @include box(80px);

      object-fit: cover;
    }

    &-reserved-button {
      border-color: var(--color-text);
      color: var(--color-text);
    }
  }
}
