@import "@design-system";

.spa-cart-page {
  &__content {
    display: flex;
    justify-content: space-between;
    gap: spacing(5);
  }

  &__items,
  &__order-summary {
    padding: spacing(5);
    border: 1px solid var(--spa-order-summary-border-color, $white);
    border-radius: spacing(1);
    background-color: var(--spa-order-summary-background-color, $white);
  }

  &__items {
    width: 825px;

    &--label {
      margin-bottom: spacing(5);
      font-size: $fs-h3;
      border-bottom: 1px solid
        var(--spa-order-cart-title-border-color, $gray-light);
      padding-bottom: spacing(3);
    }
  }
}
