@import "@design-system";

.spa-sales-page {
  padding: spacing(10);
  background-color: var(--spa-foreground-background-color, $white);
  display: flex;
  flex-direction: column;
  gap: spacing(5);

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: spacing(5);
    width: 100%;
  }

  &__count {
    font-size: 1rem;
    color: var(--spa-info-text-color, $gray);
    display: flex;
    gap: spacing(1);
  }

  &__grid {
    margin-top: spacing(5);
    width: 100%;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.spa-sales-page__actions {
  display: flex;
  justify-content: flex-end; // Align items to the right
  align-items: center;
  gap: spacing(2); // Space between the filters button and sort dropdown
  padding: spacing(2); // Optional padding if needed
}
