@import "@design-system";

.header__wrapper {
  padding: spacing(3) spacing(4);
  background-color: var(--color-surface);
  color: var(--color-text);
}

.header__toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: spacing(10);

  &-logo {
    display: flex;
    align-items: center;

    &-image {
      height: 35px;
    }
  }

  &-icon {
    width: 30px;
    height: 30px;
    color: var(--color-text, $black);
  }

  &-icon-dropdown {
    margin-right: spacing(2);
  }

  &-profile-img-wrapper {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &-action {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-icons {
      display: flex;
      align-items: center;
      gap: spacing(8);
    }
  }
}
