@import "@design-system";

.help-center-accordion {
  background-color: var(--color-bg);
}

.help-center-accordion__title {
  font-weight: bold;
  color: var(--color-text);
}

.help-center-accordion__description {
  padding: 0 spacing(4) spacing(3);
  color: var(--color-text);
  background-color: var(--color-bg);
}
