@import "@design-system";

.emailAndPassword {
  display: flex;
  flex-direction: column;
  padding: 0;

  &_inputField {
    margin: spacing(7) 0;
    width: clamp(280px, 30vw, 500px);
  }

  &_changeButton {
    width: clamp(180px, 15vw, 300px);
  }
}
