@import "@design-system";

.spa-checkbox {
  width: fit-content;
  user-select: none;

  & .MuiFormControlLabel-label {
    display: flex;
  }

  & .spa-checkbox__label {
    display: inline-flex;
    align-items: center;
    gap: spacing(3);
  }

  &__contained {
    & .MuiCheckbox-root svg {
      fill: var(--color-secondary);
    }

    & .spa-typography {
      color: var(--color-secondary);
    }
  }

  &__dark {
    & .MuiCheckbox-root svg {
      fill: var(--color-text);
    }

    & .spa-typography {
      color: var(--color-text);
    }
  }
}
