@import "@design-system";

.spa-sale-product-card {
  &__labels-timer {
    position: absolute;
    top: spacing(2);
    left: spacing(2);
    right: spacing(2);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 2;
  }

  &__labels {
    display: flex;
    align-items: center;
    gap: spacing(1);
    z-index: 1;
  }

  &__label {
    background-color: var(--color-danger);
    color: var(--spa-sale-label-text-color, $white);
    padding: spacing(1) 10px;
    border-radius: 15px;
    font-size: 15px;
  }

  &__price {
    color: var(--spa-sale-price-color, $red);

    &-disabled {
      color: var(--color-disabled);
    }
  }

  &__original-price {
    text-decoration: line-through;
    margin-right: spacing(1);

    &-disabled {
      color: var(--color-disabled);
    }
  }

  &__price-container {
    display: flex;
    align-items: center;
  }

  &__best-sellers {
    padding: spacing(1);
    border: 3px solid var(--color-primary);
    border-radius: spacing(5);
    color: var(--color-primary);
  }
}