@import "@design-system";

.spa-range-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  background-color: var(--color-surface);
  color: var(--color-text);

  * {
    color: inherit;
  }

  &__toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding: spacing(3) 0;
    gap: spacing(3);
    
    // display: flex;
    // align-items: center;
    // gap: spacing(3);
    // padding: spacing(3) 0;

    // & > .MuiBox-root {
    //   flex-grow: 1;
    // }
  }

  &__toolbar-title-input {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }

  &__toolbar-title {
    margin-bottom: spacing(2);
  }

  &__toolbar-input-helper-text {
    min-height: 26px;
    line-height: 13px;
    display: block;
  }

  &__range-container {
    display: flex;
  }

  &__range {
    width: 95%; // cut width because thumbs trigger horizontal scrollbar

    & .MuiSlider-rail {
      color: var(--spa-slider-range-rail-color, $purple-light);
      opacity: 1;
    }

    & .MuiSlider-track {
      color: var(--spa-slider-range-track-color, $purple);
    }

    & .MuiSlider-thumb {
      color: var(--spa-slider-range-thumb-color, $purple);
    }
  }
}
