@import "@design-system";

.spa-cart-item {
  display: flex;
  align-items: center;
  padding: spacing(4) 0;
  border-bottom: 1px solid $gray-light;

  &__image {
    margin-right: spacing(5);
    width: 80px;

    @include breakpoint("lg") {
      width: 100px;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__title {
    margin-bottom: spacing(3);
    max-width: 350px;
    font-size: 18px;

    @include breakpoint("lg") {
      font-size: $fs-lg;
    }
  }

  &__prices {
    display: flex;
    align-items: center;
    gap: spacing(2);
    color: var(--color-text);
  }

  &__price-old {
    text-decoration: line-through;
    color: $gray;
    font-size: 18px;


    @include breakpoint("lg") {
      font-size: var(--spa-cart-price-old-font-size, $fs-lg);
    }
  }

  &__price-discounted {
    color: $red;
    font-weight: bold;
    font-size: 18px;

    @include breakpoint("lg") {
      font-size: var(--spa-cart-price-discounted-font-size, $fs-lg);
    }
  }

  &__regular-price {
    color: var(--color-text);
    font-weight: bold;
    font-size: 18px;

    @include breakpoint("lg") {
      font-size: var(--spa-cart-regular-price-font-size, $fs-lg);
    }
  }

  &__quantity-price {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    row-gap: spacing(3);
  }

  &__price-delete-icon {
    display: flex;
    align-items: center;
  }

  &__price {
    text-align: center;
    width: 130px;

    &-value {
      font-weight: var(--spa-cart-price-value-font-weight, $fw-extra-bold);
      display: block;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 18px;

      @include breakpoint("lg") {
        font-size: var(--spa-cart-price-value-font-size, $fs-lg);
      }
    }
  }

  .spa-cart-item__price-discounted-total {
    color: var(--color-text);
    font-weight: var(--spa-cart-price-value-font-weight, $fw-extra-bold);
    text-align: center;
    font-size: 18px;

    @include breakpoint("lg") {
      font-size: var(--spa-cart-price-value-font-size, $fs-lg);
    }
  }

  &__bestseller {
    padding: 4px;
    border: 2px solid var(--color-primary);
    border-radius: 15px;
    color: var(--color-primary);
    max-width: 305px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: spacing(2);
  }

  &__delete-block {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    @include box(32px);
  }

  &__discount-badge {
    .MuiBadge-badge {
      padding: 12px 6px;
      transform: translate(-50%, -50%);
    }
  }
}
